/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: #BFEEED;
} */



/* .logo {
  font-weight: bold;

}

.categories {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 52%;
} */



