.BoxUpload {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  place-items: center;
  position: relative;
  height: 250px;
  width: 250px;
  background: #fbfbff;
  border-radius: 20px;
}

.image-upload {
  display: flex;
  flex-wrap: wrap;
}

label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

label:hover {
  opacity: 0.8;
}

input {
  display: none;
}

.close-icon {
  background: #000;
  border-radius: 5px;
  opacity: 0.8;
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.close-icon:hover {
  opacity: 1;
}

#uploaded-image {
  max-height: 200px;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}

.ImagePreview {
  max-height: 200px;
}
